* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* font-family: 'lato', sans-serif; */
}

/* body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  height: 100vh;
} */

/* .container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center; 
}

.sketch-container {
  width: 500px;
  height: 500px;
  border: 2px solid darkgray;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
}

.title {
  margin-bottom: 30px;
}

.box {
  width: 6.25%;
  height: 6.25%;
  background-color: red;
} */


/* new try */

body {
  background-color: aliceblue;
}

#sketch-area{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin: 100px auto 0 auto;
  /* box-shadow: 5px 5px rgba(0, 0, 0, 0.05) */
  
}

.cell {
  border: 1px solid whitesmoke;
}


#slider-container {
  margin: 0 auto;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 25px;
  width: 100%;
  background: rgba(200, 255, 238, 0.7);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#slider-value{
  margin: 0 auto;
  text-align: center;

}

.slider:hover {
  opacity: 1;;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: lightgreen;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: lightgreen;
  cursor: pointer;
}